#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.tar
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
modules.builtin
Module.symvers
*.dwo

#
# 410-p2 specific files
#
*.dep
temp/
kernel
kernel.strip
*.log
bootfd.img
410user/progs/idle
410user/progs/init
410user/progs/shell
410user/progs/startle
410user/progs/actual_wait
410user/progs/getpid_test1
410user/progs/paraguay
410user/progs/stack_test1
410user/progs/switzerland
410user/progs/agility_drill
410user/progs/cyclone
410user/progs/join_specific_test
410user/progs/misbehave
410user/progs/misbehave_wrap
410user/progs/multitest
410user/progs/mutex_destroy_test
410user/progs/nibbles
410user/progs/thr_exit_join
410user/progs/wild_test1
410user/progs/racer
410user/progs/rwlock_downgrade_read_test
410user/progs/beady_test
410user/progs/cvar_test
410user/progs/juggle
410user/progs/largetest
410user/progs/mandelbrot
410user/progs/bistromath
410user/progs/cat
410user/progs/excellent
410user/progs/halt_test
410user/exec2obj
410user/progs/bistromath
410user/progs/cat
410user/progs/excellent
410user/progs/exec_basic
410user/progs/exec_basic_helper
410user/progs/merchant
410user/progs/exec_nonexist
410user/progs/fork_test1
410user/progs/loader_test1
410user/progs/loader_test2
410user/progs/mem_permissions
410user/progs/new_pages
410user/progs/print_basic
410user/progs/remove_pages_test1
410user/progs/wait_getpid
410user/progs/fork_exit_bomb
410user/progs/fork_wait
410user/progs/fork_wait_bomb
410user/progs/readline_basic
410user/progs/cho
410user/progs/cho2
410user/progs/make_crash
410user/progs/sleep_test1
410user/progs/yield_desc_mkrun
410user/progs/swexn_basic_test
410user/progs/swexn_cookie_monster
410user/progs/swexn_dispatch
410user/progs/swexn_regs
410user/progs/cho_variant
410user/progs/coolness
410user/progs/make_crash_helper
410user/progs/peon
410user/progs/remove_pages_test2
410user/progs/deschedule_hang
410user/progs/mem_eat_test
410user/progs/minclone_mem
410user/progs/register_test
410user/progs/fib
410user/progs/work
410user/progs/slaughter
410user/progs/swexn_stands_for_swextensible
410user/progs/swexn_uninstall_test
410user/progs/ack
410user/progs/chow
410user/progs/knife

user/progs/zfod_test
user/progs/cs2-simple
user/progs/cs2-simple-peer
user/progs/my_init
user/progs/cs1
user/progs/cs2_simple
user/progs/cs2_simple_peer
user/progs/test_gettid
user/progs/mutex_test
user/progs/test_multithread_exception
user/progs/test_exit
user/progs/test_cv
user/progs/test
user/progs/test_join
user/progs/test_panic
user/progs/mutex_test
user/progs/test_multithread_exception
user/progs/thr_creation
user/progs/paraguay
user/progs/switzerland
user/progs/agility_drill
user/progs/cyclone
user/progs/startle
user/progs/beady_test
user/progs/cvar_test
user/progs/excellent
user/progs/join_specific_test
user/progs/juggle
user/progs/largetest
user/progs/mandelbrot
user/progs/misbehave
user/progs/misbehave_wrap
user/progs/multitest
user/progs/mutex_destroy_test
user/progs/nibbles
user/progs/racer
user/progs/thr_exit_join
user/progs/test_change_seg

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
all.config

# Kdevelop4
*.kdev4
